<style type="text/css">

	*{
	 margin: 0px;
	 padding: 0px;
	}
	body{
	 font-family: arial;
	}
	.main{
	
	 margin: 2%;
	}
	
	.card{
		 width: 20%;
		 display: inline-block;
                 background-color: cornsilk;
		 box-shadow: 2px 2px 20px black;
		 border-radius: 5px; 
		 margin: 2%;
		}
	
	.image img{
	  width: 100%;
	  border-top-right-radius: 5px;
	  border-top-left-radius: 5px;
	  
	
	 
	 }
	
	.title{
	 
	  text-align: center;
	  padding: 10px;
	  
	 }
	
	h1{
	  font-size: 20px;
	 }
	
	.des{
	  padding: 3px;
	  text-align: center;
	 
	  padding-top: 10px;
			border-bottom-right-radius: 5px;
	  border-bottom-left-radius: 5px;
	}
	button{
	  margin-top: 40px;
	  margin-bottom: 10px;
	  background-color: white;
	  border: 1px solid black;
	  border-radius: 5px;
	  padding:10px;
	}
button:hover{
  background-color: black;
  color: white;
  transition: .5s;
  cursor: pointer;
}
</style>
{% for row in certificatetable %} 
<div class="card">
        <div class="image">
        <!-- get imageurl / csp  from flask-->
                <img height="150px" src="https://storage.googleapis.com/certdetsimage/cspimage/{{row[0]}}.png" >
        </div>
        <div class="title">
                <!-- get CID from flask -->
                <h1>{{row[1]}}</h1>
        </div>
        <div class="des">
                <!-- get CNAME from flask-->
                <p>{{row[2]}}</p>
                <!-- get button url from flask and replace it-->
                <button type="button" onclick="window.location.href='https://storage.googleapis.com/certdetsimage/{{row[1]}}';">View Certificate</button>
        </div>
</div>
{% endfor %}
